# GitHub repository
git+https://github.com/THU-MIG/yolov10.git
git+https://github.com/pyg-team/pytorch_geometric.git

# Other dependencies
--extra-index-url https://download.pytorch.org/whl/rocm6.1
torch
accelerate
transformers
ultralytics
matplotlib
pdf2image
pytesseract
opencv-python-headless
tqdm
joblib